/log
/config/normal_*
/config/sapprgo_*
/plot/result.csv
/plot/*.png

.idea
.vscode
pprgo.egg-info
__pycache__
.ipynb_checkpoints

*.npz
*.egg-info
.config
db/
configdb/
slurm_out/

.d000*
/venv
*.out
*.err
